body{
      padding: 100px;
}
.submit-area{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
}
#transaction-area{
      display: none;
}
.status{
      margin:0 20px;
}

.deposit{
      background-color: slateblue;
      margin-top: 10px;
      padding: 30px;
      border-radius: 10px;
      color: white;
}
.withdraw{
      background-color: lightsalmon;
      padding: 30px;
      border-radius: 10px;
      color: white;
      margin-top: 10px;

      
}
.balance{
      background-color: orange;
      padding: 30px;
      border-radius: 10px;
      color: white;
      margin-top: 10px;

      
} 
.gap{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;  
      margin:30px 20px;
      padding: 30px;
}